# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

#Others
scrap/
testroot/
protobuf/
protobuf*
*.pyc
*~
bison*
RemoteSystemsTempFiles/
.metadata/
drop*
pysed/Debug
pysed/Release
pysed/.*
pysed/test_pysed.log
pysed/parser.output
pysed/.settings/org.eclipse.cdt.codan.core.prefs
srv/Debug
srv/Release
tcg_api.ln
tcg_api/tools
tcg_api/
tcg_api/transports/SeaCCommon/Make/gcc/lib/
TCGstorageAPI.egg-info
build/
dist/
*.log
.mockbuild*
vaultcfg.json
